<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.ha00.mapper.Ha00Mapper">

    <select id="HA00_00P_STR" resultType="map">
        exec ha00_00p_str #{gubun}, #{cmpycd}, #{gbncd}, #{code}, #{remark}
    </select>

    <select id="HA00_010S_STR" resultType="map">
        exec ha00_010s_str #{cmpycd}, #{cdkind}, #{cdgbn}, #{code}, #{code_1}
    </select>

</mapper>
