<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hspl.mapper.HsplMapper">
    <!-- 개인별 품목별 판매계획 -->
    <select id="HSPL_100U_STR" resultType="map">
        EXEC HSPL_100U_STR #{ACTKIND}, #{CMPYCD}, #{YYYY}, #{DEPTCD}, #{USERID}, #{AGRPCD}, #{ITEMCD},
        #{ITSIZE}, #{UNIT}, #{PLANAMT01}, #{PLANAMT02}, #{PLANAMT03}, #{PLANAMT04}, #{PLANAMT05},
        #{PLANAMT06}, #{PLANAMT07}, #{PLANAMT08}, #{PLANAMT09}, #{PLANAMT10}, #{PLANAMT11}, #{PLANAMT12},
        #{USEYN}, #{UPDEMP}
    </select>

    <!-- 개인별 품목그룹별 판매계획 -->
    <select id="HSPL_110U_STR" resultType="map">
        EXEC HSPL_110U_STR #{ACTKIND}, #{CMPYCD}, #{YYYY}, #{DEPTCD}, #{USERID}, #{ASTKIND}, #{AGRPCD},
        #{BGRPCD}, #{PLANAMT01}, #{PLANAMT02}, #{PLANAMT03}, #{PLANAMT04}, #{PLANAMT05}, #{PLANAMT06},
        #{PLANAMT07}, #{PLANAMT08}, #{PLANAMT09}, #{PLANAMT10}, #{PLANAMT11}, #{PLANAMT12}, #{USEYN}, #{UPDEMP}
    </select>

    <!-- 개인별 품목별 판매계획/실적 -->
    <select id="HSPL_200S_STR" resultType="map">
        EXEC HSPL_200S_STR #{ACTKIND}, #{CMPYCD}, #{YYYY}, #{DEPTCD}, #{USERID}
    </select>

    <!-- 개인별 품목그룹별 판매계획/실적 -->
    <select id="HSPL_210S_STR" resultType="map">
        EXEC HSPL_210S_STR #{ACTKIND}, #{CMPYCD}, #{YYYY}, #{DEPTCD}, #{USERID}
    </select>

    <!-- 개인별 판매계획/실적 -->
    <select id="HSPL_220S_STR" resultType="map">
        EXEC HSPL_220S_STR #{ACTKIND}, #{CMPYCD}, #{YYYY}, #{DEPTCD}
    </select>

</mapper>
