<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hpio.mapper.HpioMapper">

    <!-- LOT 부여작업 -->
    <select id="HPIO_200U_STR" resultType="map">
        exec hpio_200u_str #{actkind}, #{cmpycd}, #{linecd}, #{lotymd}, #{lotno},
        #{itemcd}, #{itsize}, #{unit}, #{lotsize}, #{stymd}, #{toymd},
        #{bigo}, #{useyn}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <!-- 작업지시서 -->
    <select id="HPIO_210U_STR" resultType="map">
        exec hpio_210u_str #{actkind}, #{cmpycd}, #{proymd}, #{linecd}, #{progcd},
        #{lotymd}, #{lotno}, #{itemcd}, #{itsize}, #{unit}, #{ordqty},
        #{bigo}, #{useyn}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <!-- 생산실적 -->
    <select id="HPIO_300U_STR" resultType="map">
        exec hpio_300u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{proymd},
        #{ordymd}, #{equpcd}, #{prodcd}, #{workjo}, #{wkgbn}, #{whcd},
        #{itemcd}, #{custcd}, #{itsize}, #{unit}, #{prdqty}, #{godqty},
        #{errqty}, #{errcd}, #{wonincd}, #{lotymd}, #{lotno}, #{workmm},
        #{bigo}, #{useyn}, #{ordym}, #{ordno}, #{bomver}, #{outamt},
        #{outvat}, #{updemp}
    </select>

    <!-- 생산투입실적 -->
    <select id="HPIO_301U_STR" resultType="map">
        exec hpio_301u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{proymd},
        #{ordymd}, #{equpcd}, #{prodcd}, #{workjo}, #{wkgbn}, #{itemcd},
        #{mitemcd}, #{mitsize}, #{munit}, #{whcd}, #{befprog}, #{astkind},
        #{custcd}, #{soqty}, #{inqty}, #{bigo}, #{useyn}, #{lotymd},
        #{lotno}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <!-- 제품입고 -->
    <select id="HPIO_400U_STR" resultType="map">
        exec hpio_400u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{proymdfr},
        #{proymdto}, #{ordymd}, #{deptcd}, #{whcd}, #{equpcd}, #{prodcd},
        #{workjo}, #{wkgbn}, #{itemcd}, #{custcd}, #{itsize}, #{unit},
        #{inqty}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}, #{ordym}, #{ordno}
    </select>

    <!-- 제품입고취소 -->
    <select id="HPIO_410U_STR" resultType="map">
        exec hpio_410u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{whcd},
        #{inymdfr}, #{inymdto}, #{equpcd}, #{prodcd}, #{workjo}, #{wkgbn},
        #{itemcd}, #{custcd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}
    </select>

    <!-- 제품입고현황 -->
    <select id="HPIO_420S_STR" resultType="map">
        exec hpio_420s_str #{cmpycd}, #{whcd}, #{proymdf}, #{proymdt}
    </select>

    <!-- 제품입고현황(상세) -->
    <select id="HPIO_430S_STR" resultType="map">
        exec hpio_430s_str #{cmpycd}, #{whcd}, #{itemcd}, #{proymdf}, #{proymdt}
    </select>

    <!-- 임가공/외주가공 계약 품의 -->
    <select id="HPIO_290U_STR" resultType="map">
        exec hpio_290u_str #{actkind}, #{cmpycd}, #{pumym}, #{pumno}, #{deptcd},
        #{pumgbn}, #{gelcnd}, #{custcd}, #{pumymd}, #{frymd}, #{toymd},
        #{cfmyn}, #{remark}, #{updemp}
    </select>

    <!-- 임가공/외주가공 계약 품의(상세) -->
    <select id="HPIO_291U_STR" resultType="map">
        exec hpio_291u_str #{actkind}, #{cmpycd}, #{pumym}, #{pumno}, #{itemcd},
        #{itemcd_o}, #{itsize}, #{unit}, #{price}, #{remark}, #{updemp}
    </select>

    <!-- 외주가공출고 MASTER -->
    <select id="HPIO_340U_STR" resultType="map">
        exec hpio_340u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{prodcd}, #{linecd}, #{progcd},
        #{outymd}, #{odeptcd}, #{owhcd}, #{ocustcd}, #{itemcd}, #{itsize}, #{unit}, #{proqty}, #{proymd},
        #{ideptcd}, #{iwhcd}, #{remark}, #{inyn}, #{pumym}, #{pumno}, #{inym}, #{inno}, #{updemp}
    </select>

    <!-- 외주가공출고 상세 -->
    <select id="HPIO_341U_STR" resultType="map">
        exec hpio_341u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{ono}, #{iorowno}, #{ino},
        #{linecd}, #{progcd}, #{odeptcd}, #{owhcd}, #{custcd}, #{ioymd}, #{ideptcd},
        #{iwhcd}, #{itemcd}, #{unit}, #{ioqty}, #{pumym}, #{pumno}, #{updemp}
    </select>

    <!-- 생산실적(외주가공) -->
    <select id="HPIO_350U_STR" resultType="map">
        exec hpio_350u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{proymd},
        #{ordymd}, #{equpcd}, #{prodcd}, #{workjo}, #{wkgbn}, #{whcd},
        #{itemcd}, #{itemcd_o}, #{custcd}, #{itsize}, #{unit}, #{prdqty},
        #{godqty}, #{errqty}, #{errcd}, #{wonincd}, #{lotymd}, #{lotno},
        #{workmm}, #{bigo}, #{outym}, #{outno}, #{outprice}, #{outamt},
        #{outvat}, #{useyn}, #{updemp}
    </select>

    <!-- 생산투입실적(외주가공) -->
    <select id="HPIO_351U_STR" resultType="map">
        exec hpio_351u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{proymd},
        #{ordymd}, #{equpcd}, #{prodcd}, #{workjo}, #{wkgbn}, #{itemcd},
        #{custcd}, #{mitemcd}, #{mitemcd_o}, #{mitsize}, #{munit}, #{whcd},
        #{befprog}, #{astkind}, #{soqty}, #{inqty}, #{bigo}, #{useyn}, #{updemp}
    </select>

    <!-- 이관출고 MASTER -->
    <select id="HPIO_500U_STR" resultType="map">
        exec hpio_500u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{prodcd}, #{linecd}, #{progcd},
        #{outymd}, #{odeptcd}, #{owhcd}, #{ocustcd}, #{itemcd}, #{itsize}, #{unit}, #{proqty}, #{proymd},
        #{ideptcd}, #{iwhcd}, #{remark}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <!-- 이관 출고내역 처리 -->
    <select id="HPIO_501U_STR" resultType="map">
        exec hpio_501u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{ono}, #{iorowno}, #{ino},
        #{linecd}, #{progcd}, #{odeptcd}, #{owhcd}, #{custcd}, #{ioymd}, #{ideptcd},
        #{iwhcd}, #{itemcd}, #{unit}, #{ioqty}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <!-- 타계정출고 MASTER -->
    <select id="HPIO_510U_STR" resultType="map">
        exec hpio_510u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono},
        #{ioymd}, #{iotype}, #{custcd}, #{deptcd}, #{whcd}, #{userid},
        #{inyn}, #{ino}, #{remark}, #{cfmyn}, #{updemp}
    </select>

    <!-- 타계정 출고내역 처리 -->
    <select id="HPIO_511U_STR" resultType="map">
        exec hpio_511u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno},
        #{deptcd}, #{custcd}, #{whcd}, #{userid}, #{ioymd}, #{iotype}, #{itemcd},
        #{itsize}, #{unit}, #{ino}, #{itemcd_t}, #{itsize_t}, #{unit_t},
        #{ioqty}, #{ioamt}, #{iovat}, #{usedept}, #{cfmyn}, #{updemp}
    </select>

    <!-- 재공타계정출고 MASTER -->
    <select id="HPIO_520U_STR" resultType="map">
        exec hpio_520u_str #{actkind}, #{cmpycd}, #{ioym}, #{iono}, #{ioymd}, #{linecd}, #{progcd}, #{remark}, #{updemp}
    </select>

    <!-- 재공 타계정 출고내역 처리 -->
    <select id="HPIO_521U_STR" resultType="map">
        exec hpio_521u_str #{actkind}, #{cmpycd}, #{outym}, #{outno}, #{trowno}, #{linecd}, #{progcd}, #{outymd},
        #{tatype}, #{itemcd}, #{itsize}, #{unit}, #{qty}, #{amt}, #{deptcd}, #{custcd}, #{remark}, #{cfmyn}, #{updemp}
    </select>

    <!-- 외주가공생산실적등록 -->
    <select id="HPIO_870U_STR" resultType="map">
        exec hpio_870u_str #{actkind}, #{cmpycd}, #{fromymd}, #{toymd}, #{linecd},
        #{progcd}, #{slipyn}, #{iogbn}, #{ioym}, #{iono}, #{custcd}, #{prodcd}, #{updemp}
    </select>

    <!-- 입출고현황 -->
    <select id="HPIO_640S_STR" resultType="map">
        exec hpio_640s_str #{cmpycd}, #{whcd}, #{fymd}, #{tymd}, #{astkind}
    </select>

    <!-- 창고 입출고 현황 -->
    <select id="HPIO_650S_STR" resultType="map">
        exec hpio_650s_str #{cmpycd}, #{whcd}, #{fymd}, #{tymd}, #{astkind}, #{itemcd}
    </select>

    <!-- 공정별 입출고현황 -->
    <select id="HPIO_660S_STR" resultType="map">
        exec hpio_660s_str #{cmpycd}, #{linecd}, #{progcd}, #{fymd}, #{tymd}
    </select>

    <!-- 입고현황 -->
    <select id="HPIO_710S_STR" resultType="map">
        exec hpio_710s_str #{cmpycd}, #{whcd}, #{iotype}, #{ymdfr}, #{ymdto}, #{custcd}, #{itemcd}
    </select>

    <!-- 창고별현재고 -->
    <select id="HPIO_720S_STR" resultType="map">
        exec hpio_720s_str #{cmpycd}, #{ymd}, #{whcd}, #{astkind}
    </select>

    <!-- 작업지시현황 -->
    <select id="HPIO_230S_STR" resultType="map">
        exec hpio_230s_str #{cmpycd}, #{linecd}, #{ordymdf}, #{ordymdt}
    </select>

    <!-- 출고의뢰서 관리 -->
    <select id="HPIO_850S_STR" resultType="map">
        exec hpio_850s_str #{actkind}, #{cmpycd}, #{fromymd}, #{toymd}, #{linecd},
        #{progcd}, #{slipyn}, #{iogbn}, #{ioym}, #{iono}, #{custcd}, #{prodcd}
    </select>

    <!-- 투입자재집계표 -->
    <select id="HPIO_370S_STR" resultType="map">
        exec hpio_370s_str #{cmpycd}, #{selgbn}, #{linecd}, #{progcd}, #{proymdf}, #{proymdt}
    </select>

    <!-- 투입자재현황 -->
    <select id="HPIO_380S_STR" resultType="map">
        exec hpio_380s_str #{cmpycd}, #{selgbn}, #{linecd}, #{progcd}, #{prodcd}, #{mitemcd}, #{proymdf}, #{proymdt}
    </select>

    <!-- 품목별 투입자재현황 -->
    <select id="HPIO_390S_STR" resultType="map">
        exec hpio_390s_str #{cmpycd}, #{linecd}, #{progcd}, #{proymdf}, #{proymdt}
    </select>

</mapper>
