<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.comm.mapper.ManualMapper">

    <select id="getManual" parameterType="string" resultType="map">
        SELECT progid, prognm, content, upd_dt, upd_id
        FROM COM_MANUAL
        WHERE progid = #{progid}
    </select>

    <insert id="saveManual" parameterType="map">
        IF EXISTS (SELECT 1 FROM COM_MANUAL WHERE progid = #{progid})
        BEGIN
            UPDATE COM_MANUAL
            SET content = #{content},
                upd_dt = GETDATE(),
                upd_id = #{upd_id}
            WHERE progid = #{progid}
        END
        ELSE
        BEGIN
            INSERT INTO COM_MANUAL (progid, prognm, content, upd_dt, upd_id)
            VALUES (#{progid}, #{prognm}, #{content}, GETDATE(), #{upd_id})
        END
    </insert>

    <select id="getProgramList" parameterType="map" resultType="map">
        SELECT A.pgmid, A.pgmnm,
               CASE WHEN B.progid IS NOT NULL THEN 'Y' ELSE 'N' END as reg_yn
        FROM haaa800t_tbl A
        LEFT JOIN COM_MANUAL B ON REPLACE(A.pgmid, '_', '') = B.progid
        WHERE A.useyn = 'y'
        <if test="pgmnm != null and pgmnm != ''">
            AND A.pgmnm LIKE '%' + #{pgmnm} + '%'
        </if>
        ORDER BY A.pgmid
    </select>

</mapper>
